#dancers {
    display: inline-block;
    padding-left: 30px;
    margin-top: 550px;
}
#Mitch {
    background-color: crimson;
    border-radius: 80%;
    text-align: center;
    height: 25px;
    animation-name: shake;
    animation-delay: 4s;
    animation-duration: 7s;
    animation-iteration-count: 100;
}
#David {
    background-color: fuchsia;
    border-radius: 80%;
    text-align: center;
    animation-name: shake;
    animation-delay: 4s;
    animation-duration: 7s;
    animation-iteration-count: 100;
}
#Martin {
    background-color: black;
    border-radius: 80%;
    text-align: center;
    color: floralwhite;
    animation-name: shake;
    animation-delay: 4s;
    animation-duration: 7s;
    animation-iteration-count: 100;
}
#Troy {
    background-color: blue;
    border-radius: 80%;
    text-align: center;
    color: floralwhite;
    animation-name: shake;
    animation-delay: 4s;
    animation-duration: 7s;
    animation-iteration-count: 100;
}
#pic {
    background-image: url(../img/bob-marley-quotes-fb-cover.jpg);
    height: 300px;
    margin-top: 50px;
    margin-left: 250px;
    position: absolute;
    animation: shake;
    animation-delay: 4s;
    animation-duration: 7s;
    animation-iteration-count: 100;
    background-repeat: no-repeat;
    width: 850px;
}
#spin {
    background-color: orange;
    color: floralwhite;
    border-radius: 100%;
    text-align: center;
    animation: swing;
    animation-duration: 7s;
    animation-duration: 100s;
}
