/*
body {
   
    opacity: 0.5;
}
*/

.video {
    opacity: 0.5;
}
#dancers {
    display: inline-block;
    padding-left: 30px;
    margin-top: 550px;
    z-index: 2;
}
#Mitch {
    background-color: crimson;
    border-radius: 80%;
    text-align: center;
    animation-name: shake;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 100;
}
#David {
    background-color: fuchsia;
    border-radius: 80%;
    text-align: center;
    animation-name: shake;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 100;
}
#Martin {
    background-color: black;
    border-radius: 80%;
    text-align: center;
    color: floralwhite;
    animation-name: shake;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 100;
}
#Troy {
    background-color: blue;
    border-radius: 80%;
    text-align: center;
    color: floralwhite;
    animation-name: shake;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 100;
}
#pic img {
    width: 1320px;
    margin-top: 10px;
    position: absolute;
    opacity: 0.6;
    animation: swing;
    animation-delay: 4s;
    animation-duration: 10s;
}
#spin {
    background-color: forestgreen;
    border-radius: 100%;
    text-align: center;
}
